modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["outlook:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 5000

[[ports]]
localPort = 19161
externalPort = 3002

[[ports]]
localPort = 25604
externalPort = 3001

[userenv]

[userenv.shared]
CLERK_SECRET_KEY_PROD = "sk_live_FgNsp1cwxcEyFeDdN0AAJGRdqcMvTu7FcenErALhR6"

[userenv.production]
CLERK_PUBLISHABLE_KEY_PROD = "pk_live_Y2xlcmsuYXBwLmtpdGNoZW5vcy5kZSQ"

[nix]
channel = "stable-25_05"
